
.signin {
    background-color: rgb(15, 131, 15);
    border-radius: 20px;
    color: white;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-style: none;
}

.navbar-brand {
    font-size: 1.5rem;
    color: rgb(15, 131, 15);
    font-weight: bolder;
    margin-left: 40px;
}

.home {
    background-color: rgb(245, 245, 245);
    height: 700px;
}

.backgroud-container {
    background-color: rgb(245, 245, 245);
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    height: 400px;


}

.testimonials-container {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 25px;
    height: 280px;

      
}

.testimonial { 
    width: calc(33.33% - 10px);
    padding: 25px;
    background-color: white;
    border-radius: 5px;
    margin: 0 5px 20px 5px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: 200;
    font-family:sans-serif;
    position: absolute;
    font-size: 14px;
}

.testimonial:first-child {

  left: -5px;
 
}

.testimonial:last-child {
  
   right: -5px;

}

.arrows {
    padding-top: 0;   
    max-width: 200px;
    margin-bottom: 10px;
    background-color: white;
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 280px;
  
  }
  
  .arrow {
    cursor: pointer;
  }
  
  .previous {
    margin-right: 10px;
  }
  
  .next {
    margin-left: 10px;
  }

.arrow-button {
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    color: green;
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
}
.arrow-button:hover {
    background-color: green;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.heading1 {
    text-transform: uppercase;
    color: green;
    font-weight: 300;
    font-size: 34px;
}

.heading3 {
    font-size: 28px;
    font-weight: 400px;
    margin-bottom: 35px;
}

.feedback {
    font-size: 12px;
    font-weight: 200px;
    margin-top: 35px;
    margin-bottom: 35px;
}